Flask==3.1.2
flask-cors==6.0.1
gunicorn==23.0.0

numpy==2.2.6
pandas==2.3.2
scikit-learn==1.7.1
xgboost==3.0.5
shap==0.48.0

groq==0.31.0
python-dotenv==1.1.1

Pillow==11.3.0
opencv-python-headless==4.12.0.88

matplotlib==3.10.6
seaborn==0.13.2

pydantic==2.11.7